
.mod-tit {
	background: no-repeat;
	color:blue;
	font-size: 28px;
	height: 50px;
	line-height: 50px;
	margin:32px 0;
	padding-left: 60px;
}
.tszl {
	background-image: url(../images/tit_tslm.png);
}

/*
<<<<<<< HEAD

  <div class='slider_nav1'>
    <p class='p1'>This is master branch</p>
  </div>

=======
  <h3>This is dev branch</h3>
>>>>>>> dev
*/